<div class="content">
    <h1 class="title">Browse everything.</h1>
    <img src="assets/Breakpoint=Mobile.png" alt="">
    <p class="grey-text">Trusted by:</p>
    <section class="logos border-bottom animation">
        <img src="assets/logos/Logo1.png" alt="">
        <img src="assets/logos/Logo2.png" alt="">
        <img src="assets/logos/Logo3.png" alt="">
        <img src="assets/logos/Logo4.png" alt="">
        <img src="assets/logos/Logo5.png" alt="">  
        <img src="assets/logos/Logo6.png" alt="">
    </section>
    <section id="benefits" class="animation">
        <p class="green-text">Benefits</p>
        <h2 class="title-2">We’ve cracked the code.</h2>
        <p class="grey-text">
            Area provides real insights, without the data overload.
        </p>
    </section>
    <app-cards class="animation"></app-cards>
    <section class="background-img1 animation">
    </section>
    <section id="pictures" class="animation">
        <h2 class="title-2">See the Big Picture</h2>
        <p class="grey-text">
            Area turns your data into clear, vibrant visuals that show you exactly what's happening in each region.
        </p>
    </section>
    <app-acordeon></app-acordeon>
    <div class="button-container animation">
        <button class="green-button">Discover More</button>
    </div>
    <section class="background-img2 animation">
    </section>
</div>
