
.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: auto;
	box-shadow: none;
    padding: 40px 0px;
}

.card-icon {
	margin-bottom: 8px;
}
.card-title {
    font-family: 'Crimson Text', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.card-text {
    font-family: 'DM Sans', sans-serif;
    color: #6F6F6F;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
}

.border-top{
    border-top: 1px solid #E0E0E0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

